@import url("https://fonts.googleapis.com/css2?family=Inter:wght@360&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

body {
	color: rgb(var(--foreground-rgb));
	background: #fff;
	text-wrap: balance;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/***************/

.mm-home-hero {
	position: relative;
	width: 100%;
	height: 200vh;
}

.mm-home-hero__wrapper {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	clip: rect(0, auto, auto, 0);
}

.mm-home-hero__content {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.mm-home-hero__layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #e7e5e2;
	width: 100%;
	height: 100%;
	border-radius: 0 0 40px 40px;
	overflow: hidden;
}

.mm-home-hero__layer__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mm-home-hero__layer__background {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #e7e5e2;
}

.mm-home-hero__layer.front-layer {
	z-index: 10;
}

p,
.inter {
	font-family: "Inter", sans-serif;
}

/*******************/

@keyframes sparkle {
	0% {
		transform: translate3D(-50%, -50%, 0) scale(0);
	}
	20% {
		transform: translate3D(-50%, -50%, 0) scale(1);
	}
	40% {
		transform: translate3D(-50%, -50%, 0) scale(0);
	}

	to {
		transform: translate3D(-50%, -50%, 0) scale(0);
	}
}
.sparkle {
	height: auto;
	pointer-events: none;
	transform: translate3D(-50%, -50%, 0);
	transform-origin: center;
	animation: sparkle 2s linear infinite;
}

#sparkle-1 {
	animation-delay: 0.05s;
	left: 42.92%;
	top: 96.8%;
}

#sparkle-2 {
	animation-delay: 0.17s;
	left: 81.5%;
	top: 75.61%;
}

#sparkle-3 {
	animation-delay: 0.4s;
	left: 27.5%;
	top: 72.04%;
}

#sparkle-4 {
	animation-delay: 0.9s;
	left: 87.67%;
	top: 89.68%;
}

#sparkle-5 {
	animation-delay: 0.9s;
	left: 29%;
	top: 82.94%;
}

#sparkle-6 {
	animation-delay: 0.41s;
	left: 77.5%;
	top: 72.27%;
}

#sparkle-7 {
	animation-delay: 0.77s;
	left: 60.75%;
	top: 77.03%;
}

#sparkle-8 {
	animation-delay: 0.65s;
	left: 72%;
	top: 75.57%;
}

#sparkle-9 {
	animation-delay: 0.65s;
	left: 72.33%;
	top: 81.53%;
}

#sparkle-10 {
	animation-delay: 0.91s;
	left: 30%;
	top: 77.46%;
}
